<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' type="text/css" media="screen" />
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="yunyun">YunYun</a></li>
          <li><a href="review">Review</a></li>
          <li><a href="learn">Learn</a></li>
          <li><a href="stats">Stats</a></li>
          <li><a href="user">Username</a></li>
        </ul>
      </nav>
    </header>
    
    <h1><%= title %></h1>
  </body>
</html>