body {
  padding-top: 75px;
  padding-bottom: 40px;
  background-color: #fff;
}
p {
  padding-bottom: 10px;
  font-size: 18px; 
}
.l-begin {
  background-color: #F7464A;
}
.l-elem {
  background-color: #F38630;
}
.l-inter {
  background-color: #F0E68C;
}
.l-master {
  background-color: #48D1CC;
}
.l-known {
  background-color: #69D2E7;
}
.ch-text {
  font-family: arial, 黑体, 微软雅黑, 宋体, sans-serif;
}
.table-hr {
  margin: 0; 
}
.kanji {
  font-size: 90px;
}
.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
width: auto;
}
.lvl-type {
  padding: 0;
  font-size: 18px;
}
.yy-type {
  padding: 0;
  font-size: 18px; 
  color: #A0A0A0;
}
.hidden-piechart {
  display:none;
}
.hidden-id-form {
  display:none;
}
.hidden-review-info {
   display:none;
}
.extra-info {
 color: #505050;
}
.review-input {
  width: 100%;
  font-size: 24px; 
}
.showinfo-button {
  border: 0;
  background: 0; 
  font-size: 18px; 
  color: DodgerBlue;
}
.bitoff-span {
  border: 0;
  background: 0; 
  font-size: 18px; 
  color: Coral ;
}
.search-button {
  margin: 0;
  border: 0;
  padding: 0;
  background: 0; 
}
.search-addon  {
  background-color: DodgerBlue;
}  
.review-addon  {
  background-color: DodgerBlue;
}  
.review-button {
  margin: 0;
  border: 0;
  padding: 0;
  background: 0; 
  font-size: 18px; 
}

.form-add {
  position: relative;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}